.pane {
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 1rem;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin:1em; */
    max-width: calc(100% - 2em);
    border-top: 6px solid #b4b8d8;
    border-bottom: 6px solid #e8e8ff;
}

.pane h3 {
    margin-top: calc(-1rem + 4px);
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}